.bounce-up {
    opacity: 01;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.bounce-up.show {
    opacity: 1;
    transform: translateY(0);
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    60% {
        transform: translateY(-20px);
        opacity: 1;
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}