@import "./_variable.scss";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        width: 80%;
        margin: auto;
        // color: rgb(27, 27, 27);
        color: white;
        font-weight: 400;
        font-size: 1.5rem;
        // display: none;
        // margin: 0 auto;
    }

    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        // margin: 0 auto;
        align-self: center;
        align-items: center;
        align-content: center;



        div {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 10px;

            input {
                width: 100%;
                padding: 7px;
                border: none;
                border-bottom: 1px solid gray;
                background-color: $bg1;
                outline: none;
                margin-top: 10px;
            }

            label {
                color: gray;
            }
        }

        textarea {
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid gray;
            background-color: $bg1;
            outline: none;
            margin-top: 10px;
            overflow: hidden;
        }

        // input {
        //     width: 90%;
        //     padding: 7px;
        //     border: 1px solid gray;
        //     border-radius: 10px;
        //     outline: none;
        //     margin-top: 10px;
        // }

        .btn {
            display: block;
            // width: 20%;
            padding: 7px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
            margin-top: 10px;
            background-color: goldenrod;
            color: white;
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;

        h2 {
            width: 100%;
            // color: rgb(27, 27, 27);
            font-weight: 400;
            font-size: 1.7rem;
            // display: none;
            // margin: 0 auto;
        }

        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-self: center;
            align-items: center;
            align-content: center;

            div {
                width: 90%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                margin-top: 10px;

                input {
                    width: 100%;
                    padding: 7px;
                    border: none;
                    border-bottom: 1px solid gray;
                    background-color: $bg1;
                    outline: none;
                    margin-top: 10px;
                }

                label {
                    color: gray;
                }
            }

            textarea {
                width: 100%;
                padding: 7px;
                border: none;
                border-bottom: 1px solid gray;
                background-color: $bg1;
                outline: none;
                margin-top: 10px;
                overflow: hidden;
            }

            // input {
            //     width: 90%;
            //     padding: 7px;
            //     border: 1px solid gray;
            //     border-radius: 10px;
            //     outline: none;
            //     margin-top: 10px;
            // }

            .btn {
                display: block;
                // width: 20%;
                padding: 7px;
                border: 1px solid gray;
                border-radius: 10px;
                outline: none;
                margin-top: 10px;
                background-color: goldenrod;
                color: white;
                text-align: center;
            }
        }

    }
}