@import "./_variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text1;
    font-family: "Lato", serif;

}

body {
    background-color: $bg1;
    width: 100%;

}

svg {
    color: white;

}

h1,
h2 {
    font-family: "Rubik", sans-serif;
}

p {
    font-size: 14px;
}

header {
    width: 100%;
    @include flex;
    // position: fixed;
    // top: 0;

    div {
        width: 30%;
        height: 150px;
        border-top: 14px solid;
        border-left: 14px solid;
        border-radius: 10px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right bottom, #D1DC09, #743ad5, #daa520);

        h1 {
            width: max-content;
            margin: auto;

            svg {
                width: 20px;
                height: 20px;

                path {
                    color: #D1DC09 !important;

                    // background-color: #D1DC09;
                }
            }

        }
    }

    nav {
        margin-top: 30px;
        @include flex;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 25px;
        }
    }

    @media (min-width: 600px) {
        width: 80%;
        margin: 0 auto;
        @include flex;

        div {
            width: 20%;
            height: 180px;
            border-top: 14px solid;
            border-left: 14px solid;
            border-radius: 10px;

            border-image-slice: 1;
            border-image-source: linear-gradient(to right bottom, #D1DC09, #743ad5, #daa520);

            h1 {
                width: max-content;
                margin: auto;

                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        color: #D1DC09 !important;

                        // background-color: #D1DC09;
                    }
                }

            }
        }

        nav {
            margin-top: 50px;
            @include flex;

            svg {
                width: 30px;
                height: 30px;
                margin-right: 25px;
            }
        }
    }
}

.main {
    top: -50px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .intro {
        width: 100%;
        margin: auto;

        h1 {
            font-size: 1.5rem;
            font-weight: 500;
            width: max-content;
            margin: auto;
            letter-spacing: 5px;

        }

        p {
            font-size: 14px;
            line-height: 25px;
            width: 90%;
            border-bottom: 2px solid;
            padding-left: 10px;
            margin: auto;
            text-align: justify;
            border-image-slice: 1;
            border-image-source: linear-gradient(to bottom, #D1DC09, #743ad5, #daa520);

        }

        a {
            margin: 20px 0;
            // background-color: #D1DC09;
            // background: linear-gradient(175deg, #D1DC09, #AA99D4);
            // border: 2px solid #D1DC09;
            // border-radius: 10px;
            width: 120px;
            margin-left: 100px;
            // padding: 7px;
            // color: rgb(18, 5, 56);


        }


    }

    :nth-child(2) {
        width: 100%;
        margin: auto;
        margin-top: 20px;


        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            width: max-content;
            margin: 20px auto;
        }

        .project {
            .itemDisplay {

                p {
                    margin-top: 10px;
                }

                img {
                    width: 100%;
                    height: 200px;
                }
            }



        }

        // ....
        .project {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            text-align: center;
            // justify-content: space-between;
            gap: 20px;
            // @include flex;
            border: 1px solid gray;
            border-radius: 20px;
            box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
            -webkit-box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
            -moz-box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
            background-color: white;
            color: black;
            margin-top: 20px;
            padding-bottom: 20px;
            // align-items: center;
            // align-self: center;
            // align-content: center;

            @keyframes slideIn {
                to {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            .itemDisplay {

                img {
                    object-fit: fill;
                    object-position: center;
                    height: 200px;
                    border-radius: 20px 20PX 0px 0px;

                }
            }

            &-text {
                align-items: center;
                align-self: center;
                align-content: center;
                // margin-bottom: -20px;

                h2 {
                    color: black;
                    font-size: 12px;

                }

                a {
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    border: none;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: blue;
                    cursor: pointer;
                    font-size: 14px;

                    &:hover {
                        background-color: rgb(94, 94, 179);
                    }
                }

                p {
                    color: black;
                    font-size: 14px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }

                div {
                    margin-top: 30px;

                    span {
                        color: black;
                        margin-left: 15px;
                        border: 1px solid black;
                        padding: 5px;
                        border-radius: 10px;
                        font-size: 14px;
                        // cursor: pointer;
                    }
                }
            }
        }

    }

    @media (min-width: 600px) {
        // position: relative;
        // top: -50px;
        width: 80%;
        margin: auto;
        // @include flex;
        // align-self: center;

        .intro {
            width: 60%;
            margin: auto;

            h1 {
                font-size: 3rem;
                font-weight: 500;
                width: max-content;
                margin: auto;
                letter-spacing: 20px;

            }

            p {
                font-size: 18px;
                line-height: 35px;
                width: 80%;
                // margin:0 auto;
                border-left: 4px solid;
                padding-left: 15px;
                border-image-slice: 1;
                border-image-source: linear-gradient(to bottom, #D1DC09, #743ad5, #daa520);

            }

            a {
                margin-top: 30px;
                width: 120px;
                margin-left: 150px;
                padding: 7px;


            }

        }

        // ......
        :nth-child(2) {
            width: auto;

            h1 {
                font-size: 2rem;
                font-weight: 500;
                width: max-content;
                margin: auto;
            }

            .shape {
                width: 100%;
                height: 70px;
                padding: 5px 0 0 25px;
                border-top: 5px solid;
                border-left: 5px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(to right bottom, #D1DC09, #743ad5, #daa520);
            }

            .project {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: auto;
                // position: relative;
                // top: -50px;
                @include flex;

                a {
                    margin-top: 15px;
                    width: max-content;
                    text-decoration: none;
                    border-bottom: 4px solid;
                    margin-left: 0;
                    // padding-left: 15px;
                    border-image-slice: 1;
                    border-image-source: linear-gradient(to right, #D1DC09, #743ad5, #daa520);

                }
            }

        }
    }

    @media (min-width: 1100px) {
        width: 80%;

        .intro {
            width: 80% !important;
            margin: auto;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 3rem;
                font-weight: 500;
                width: max-content;
                margin: auto;
                letter-spacing: 20px;
            }

            p {
                font-size: 18px;
                line-height: 35px;
                width: 100%;
                // margin:0 auto;
                border-bottom: 4px solid;
                padding-left: 15px;
                border-image-slice: 1;
                border-image-source: linear-gradient(to bottom, #D1DC09, #743ad5, #daa520);

            }

            a {
                margin-top: 30px;
                // background-color: #D1DC09;
                // background: linear-gradient(175deg, #D1DC09, #AA99D4);
                // border: 2px solid #D1DC09;
                // border-radius: 10px;
                width: 120px;
                margin-left: 150px;
                // text-align: center;
                // margin:20px auto;
                padding: 7px;


            }

        }

        // ......;
        :nth-child(2) {
            width: 90%;

            h1 {
                font-size: 2rem;
                font-weight: 500;
                width: max-content;
                margin: auto;
                margin-bottom: 20px;
            }


            .project {
                display: flex;
                flex-direction: row;
                width: 90%;
                margin: auto;
                justify-content: space-between;
                gap: 20px;
                // @include flex;
                border: 1px solid gray;
                border-radius: 20px;
                box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
                -webkit-box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
                -moz-box-shadow: -14px 11px 75px -7px rgba(0, 0, 0, 0.44);
                background-color: white;
                color: black;
                margin-top: 20px;
                padding-bottom: 0;
                align-items: center;
                align-self: center;
                align-content: center;

                .itemDisplay {

                    img {
                        object-fit: fill;
                        object-position: center;
                        height: 400px;
                        border-radius: 20px 0 0px 20px;

                    }
                }

                &-text {
                    align-items: center;
                    align-self: center;
                    align-content: center;
                    margin-bottom: -40px;
                    text-align: left;

                    h2 {
                        color: black;
                        font-size: 18px;

                    }

                    a {
                        text-decoration: none;
                        color: white;
                        margin-right: 15px;
                        border: none;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: blue;
                        cursor: pointer;
                        font-size: 18px;

                        &:hover {
                            background-color: rgb(94, 94, 179);
                        }
                    }

                    p {
                        color: black;
                        font-size: 18px;
                        line-height: 30px;
                        margin-bottom: 20px;
                        margin-left: 0;
                    }

                    div {
                        margin-top: 30px;

                        span {
                            color: black;
                            margin-right: 15px;
                            border: 1px solid black;
                            padding: 5px;
                            border-radius: 10px;
                            font-size: 18px;
                        }
                    }
                }
            }


        }

        .project-display :nth-child(3),
        .project-display :nth-child(5),
        .project-display :nth-child(7) {
            flex-direction: row-reverse;
        }
    }


}

// .main {
//     // position: relative;







// }

footer {
    width: 80%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 170px;
    @include flex;

    div {
        width: 50%;
        height: 180px;
        padding-right: 25px;
        border-bottom: 14px solid;
        border-right: 14px solid;
        margin-right: 40px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right bottom, #D1DC09, #743ad5, #daa520);

        h1 {
            width: max-content;
            margin: auto;
            position: fixed;
            bottom: 20px;

            svg {
                width: 20px;
                height: 20px;

                path {
                    color: #D1DC09 !important;

                    // background-color: #D1DC09;
                }
            }

        }

    }

}